<section class="experience">
    <h2 data-count="6">Frameworks, I love</h2>
    <ul>
        <li><a href="https://reactjs.org" target="_blank" rel="noopener noreferrer">React</a></li>
        <li><a href="https://redux.js.org" target="_blank" rel="noopener noreferrer">Redux</a></li>
        <li><a href="https://angular.io" target="_blank" rel="noopener noreferrer">Angular</a></li>
        <li><a href="http://www.protractortest.org" target="_blank" rel="noopener noreferrer">Protractor</a></li>
        <li><a href="https://threejs.org" target="_blank" rel="noopener noreferrer">Three.js</a></li>
        <li><a href="https://www.qt.io" target="_blank" rel="noopener noreferrer">Qt5</a></li>
        <li><a href="http://opencv.org" target="_blank" rel="noopener noreferrer">OpenCV</a></li>
        <li><a href="http://www.openmp.org" target="_blank" rel="noopener noreferrer">OpenMP</a></li>
    </ul>
</section>
