<section class="experience">
    <h2 data-count="8">Clients, I've worked for</h2>
    <a href="https://www.robeco.com" target="_blank" rel="noopener noreferrer" id="robeco">Robeco</a>
    <a href="https://www.tomtom.com" target="_blank" rel="noopener noreferrer" id="tomtom">TomTom</a>
    <a href="http://www.trivident.com" target="_blank" rel="noopener noreferrer" id="trivident">Trivident</a>
    <a href="https://www.driebit.nl" target="_blank" rel="noopener noreferrer" id="driebit">Driebit</a>
    <a href="http://kokoroamsterdam.com" target="_blank" rel="noopener noreferrer" id="kokoro">Kokoro</a>
    <a href="http://thisthatandtheother.nl" target="_blank" rel="noopener noreferrer" id="ttto">This That + The Other</a>
    <a href="https://www.akqa.com" target="_blank" rel="noopener noreferrer" id="akqa">AKQA</a>
    <a href="https://www.demonsters.nl" target="_blank" rel="noopener noreferrer" id="demonsters">De Monsters</a>
</section>
