<section class="experience">
	<h2 data-count="14">Software & Services, I use</h2>
	<ul>
		<li><a href="https://www.jetbrains.com/idea/" target="_blank" rel="noopener noreferrer">JetBrains IntelliJ</a></li>
		<li><a href="https://www.jetbrains.com/clion/" target="_blank" rel="noopener noreferrer">JetBrains CLion</a></li>
		<li><a href="https://www.atlassian.com/software/jira" target="_blank" rel="noopener noreferrer">Atlassian Jira</a></li>
		<li><a href="https://www.atlassian.com/software/bamboo" target="_blank" rel="noopener noreferrer">Atlassian Bamboo</a></li>
		<li><a href="https://www.atlassian.com/software/bitbucket" target="_blank" rel="noopener noreferrer">Atlassian Bitbucket</a></li>
		<li><a href="https://www.atlassian.com/software/confluence" target="_blank" rel="noopener noreferrer">Atlassian Confluence</a></li>
		<li><a href="https://www.atlassian.com/software/sourcetree" target="_blank" rel="noopener noreferrer">Atlassian SourceTree</a></li>
		<li><a href="https://www.sonarqube.org" target="_blank" rel="noopener noreferrer">SonarQube</a></li>
		<li><a href="https://jenkins.io" target="_blank" rel="noopener noreferrer">Jenkins</a></li>
		<li><a href="https://nginx.org" target="_blank" rel="noopener noreferrer">Nginx</a></li>
		<li><a href="https://www.akamai.com" target="_blank" rel="noopener noreferrer">Akamai</a></li>
		<li><a href="https://www.sketchapp.com" target="_blank" rel="noopener noreferrer">Sketch</a></li>
		<li><a href="https://www.adobe.com/creativecloud/catalog/desktop.html" target="_blank" rel="noopener noreferrer">Adobe Creative Cloud</a></li>
		<li><a href="https://www.sdl.com/software-and-services/web-content-management/" target="_blank" rel="noopener noreferrer">SDL Web / Tridion</a></li>
	</ul>
</section>
