<footer class="footer">
    <h2>Let's get connected!</h2>
    <ul>
        <li>
            <a href="https://linkedin.com/in/ferdikoomen" target="_blank" rel="noopener noreferrer" class="btn btn-icon btn-linkedin">
                <svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#icon-linkedin"/>
                </svg>
                LinkedIn
            </a>
        </li>
        <li>
            <a href="https://github.com/ferdikoomen" target="_blank" rel="noopener noreferrer" class="btn btn-icon btn-github">
                <svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#icon-github"/>
                </svg>
                GitHub
            </a>
        </li>
        <li>
            <a href="mailto:info@madebyferdi.com" class="btn btn-icon btn-email">
                <svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#icon-email"/>
                </svg>
                Email
            </a>
        </li>
        <li>
            <a href="tel:+31641626099" class="btn btn-icon btn-phone">
                <svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#icon-phone"/>
                </svg>
                Phone
            </a>
        </li>
    </ul>
</footer>
