<meta charset="utf-8"/>

<base href="/">

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<meta name="locale" content="en"/>
<meta name="robots" content="index, follow"/>

<meta name="description" content="Portfolio of Ferdi Koomen"/>
<meta name="keywords" content="Ferdi Koomen, Portfolio, Developer, MINI, Capture3, Folume, IOL, Angular, C++"/>

<meta property="og:url" content="https://madebyferdi.com/"/>
<meta property="og:title" content="Madebyferdi.com"/>
<meta property="og:description" content="Portfolio of Ferdi Koomen."/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="https://madebyferdi.com/static/gfx/share.jpg"/>

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@ferdikoomen"/>
<meta name="twitter:creator" content="@ferdikoomen"/>
<meta name="twitter:title" content="Madebyferdi.com"/>
<meta name="twitter:description" content="Portfolio of Ferdi Koomen."/>
<meta name="twitter:image" content="https://madebyferdi.com/static/gfx/share.jpg"/>

<title>Madebyferdi.com</title>

<link rel="canonical" href="https://madebyferdi.com"/>

<link rel="icon" type="image/png" sizes="16x16" href="/static/gfx/favicon-16x16.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="/static/gfx/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="96x96" href="/static/gfx/favicon-96x96.png"/>
<link rel="icon" type="image/png" sizes="194x194" href="/static/gfx/favicon-194x194.png"/>

<link rel="preload" href="/static/fonts/SourceSansPro-ExtraLight.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
<link rel="preload" href="/static/fonts/SourceSansPro-Light.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
<link rel="preload" href="/static/fonts/SourceSansPro-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
<link rel="preload" href="/static/fonts/SourceSansPro-It.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
<link rel="preload" href="/static/fonts/SourceSansPro-Semibold.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
<link rel="preload" href="/static/fonts/SourceSansPro-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
<link rel="preload" href="/static/fonts/SourceSansPro-Black.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>

<link rel="dns-prefetch" href="https://www.googletagmanager.com"/>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)}
    gtag("js", new Date());
    gtag("config", "UA-91061714-1");
</script>
