<button class="btn prev" aria-hidden="true" aria-label="Previous slide">
	<svg width="20" height="20" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
		<use xlink:href="#arrow-prev"/>
	</svg>
</button>

<button class="btn next" aria-hidden="false" aria-label="Next slide">
	<svg width="20" height="20" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
		<use xlink:href="#arrow-next"/>
	</svg>
</button>
