<header class="intro">
    <h1 id="message">Hello,</h1>
    <p class="lead">
        Hey there, I'm Ferdi Koomen, a freelance developer with over 16 years of experience managing and developing complex technical projects.
    </p>
    <p>
        <strong>About me</strong>
    </p>
    <ol>
        <li>Experienced in a wide range of technologies including React, Angular, TypeScript, JavaScript, Jest, Cypress, Node.js, Docker, AWS, and more.</li>
        <li>Comfortable in leading technical workshops, defining solution architectures.</li>
        <li>Skilled in managing multidisciplinary teams and delivering projects within tight deadlines.</li>
        <li>Strong communication and collaboration abilities.</li>
    </ol>
    <p>
        This website offers a glimpse into some of the non-commercial projects I've been tinkering with in my spare time.
    </p>
    <p>
        Feel free to drop an email to <a href="mailto:info@madebyferdi.com">info@madebyferdi.com</a>
    </p>
    <ul>
        <li>
            <a href="https://linkedin.com/in/ferdikoomen" target="_blank" rel="noopener noreferrer" class="btn btn-icon btn-linkedin">
                <svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#icon-linkedin"/>
                </svg>
                LinkedIn
            </a>
        </li>
        <li>
            <a href="https://github.com/ferdikoomen" target="_blank" rel="noopener noreferrer" class="btn btn-icon btn-github">
                <svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#icon-github"/>
                </svg>
                GitHub
            </a>
        </li>
    </ul>
    <script>
        const message = document.querySelector("#message");
        const date = new Date();
        const hours = date.getHours();
        if (hours <= 9) {
            message.innerText = "Good morning,";
        }
        if (hours >= 17) {
            message.innerText = "Good evening,";
        }
    </script>
</header>
