<section class="project" id="capture3">
    {{> preview filename="preview-capture3" alt="Capture3" }}
    <div>
        <h2>Capture3</h2>
        <p>
            Research project into digital cameras, image processing, color spaces, OpenCV and <span>multi‑threading</span>.
            <button class="btn btn-more" aria-expanded="false">Read more</button>
        </p>
    </div>
    <div aria-hidden="true">
        <p>
            Capture3 is a C++ desktop application designed to capture and process photos. Originating as a research project, it delves into digital cameras, image processing, color spaces, OpenCV, and <span>multi-threading</span>.
        </p>
        <ol>
            <li>
                <strong>Tethered capturing:</strong>
                Automatically capture photos with varying exposure values and focus planes without manual intervention.
            </li>
            <li>
                <strong>Automatic color calibration:</strong>
                Detects a <span>X-Rite</span> ColorChecker Digital SG target in photos, computes white point and color matrix from patch values.
            </li>
            <li>
                <strong>Exposure merging:</strong>
                Fuses photos with different exposure brackets to create HDR images.
            </li>
            <li>
                <strong>Focus merging:</strong>
                Stacks photos with different focal planes for increased depth of field.
            </li>
            <li>
                <strong>Color space visualizer:</strong>
                Preview images in RGB, HSB, XYZ, and LAB color spaces with 3D color space graphs.
            </li>
        </ol>
        <h3>Technical details</h3>
        <ul>
            <li>Developed with <a href="https://www.qt.io" target="_blank" rel="noopener noreferrer">Qt5</a></li>
            <li>Written in <a href="https://en.wikipedia.org/wiki/C%2B%2B" target="_blank" rel="noopener noreferrer">C++</a>
        </ul>
        <div class="gallery">
            <div>
                {{> image filename="capture3-interface" alt="Interface with different panels" }}
                {{> image filename="capture3-panels" alt="Histograms, 3D color space and waveform visualizers" }}
                {{> image filename="capture3-camera" alt="Camera controls with exposure value matrix" }}
                {{> image filename="capture3-transform" alt="Color calibration using a ColorChecker Digital SG" }}
            </div>
            {{> image-buttons }}
        </div>
        <ul class="links">
            <li>
                <a href="/downloads/Capture3.dmg" class="btn btn-icon btn-download">
                    <svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#icon-download"/>
                    </svg>
                    Capture3.dmg <span>122MB</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/ferdikoomen/capture3" target="_blank" rel="noopener noreferrer" class="btn btn-icon btn-github">
                    <svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#icon-github"/>
                    </svg>
                    GitHub
                </a>
            </li>
        </ul>
    </div>
    <button class="btn btn-close" aria-label="Close project" tabindex="-1">
        <svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#cross"/>
        </svg>
    </button>
</section>
