<section class="project" id="folume">
    {{> preview filename="preview-folume" alt="Folume" }}
    <div>
        <h2>Folume</h2>
        <p>
            Experimental design and printing tool, made exclusively for the <span>Ultimaker 2</span> printer.
            <button class="btn btn-more" aria-expanded="false">Read more</button>
        </p>
    </div>
    <div aria-hidden="true">
        <p>
            My journey into the realm of 3D printing started with the acquisition of an <span>Ultimaker 2</span> 3D printer. Like many beginners, I familiarized myself with the basics through software such as Ultimaker Cura and Simplify3D.
        </p>
        <p>
            However, wanting to understand the intricacies of 3D printing. I set out to create a solution that would generate a simple design and send that directly to the printer without any abstraction layers or interpretation.
        </p>
        <p>
            The outcome? Folume - an application developed using Processing that generates cylindrical shape designs, translates them into  <span>G-code</span>, and seamlessly communicates with the printer via USB. By interfacing directly with <span>G-code</span>, I learned every nuance of 3D printing, from temperature control to acceleration, feed-rate, retraction, and print speed.
        </p>
        <h3>Technical details</h3>
        <ul>
            <li>Developed with <a href="https://processing.org" target="_blank" rel="noopener noreferrer">Processing</a>
            <li>Written in <a href="https://en.wikipedia.org/wiki/Java_(programming_language)" target="_blank" rel="noopener noreferrer">Java</a>
            <li>GUI elements via <a href="https://www.sojamo.de/libraries/controlP5/" target="_blank" rel="noopener noreferrer">ControlP5</a>
        </ul>
        <div class="gallery">
            <div>
                {{> image filename="folume-design-mode" alt="Interface showing design paramaters" }}
                {{> image filename="folume-print-mode" alt="Interface showing print paramaters" }}
                {{> video filename="folume-interface" type="video-large" }}
                {{> video filename="folume-timelapse" type="video-small" }}
                {{> image filename="folume-printing-1" alt="Ultimaker 2 printing a 3D model" }}
                {{> image filename="folume-printing-2" alt="Ultimaker 2 printing a 3D model" }}
            </div>
            {{> image-buttons }}
        </div>
        <ul class="links">
            <li>
                <a href="/downloads/Folume.dmg" class="btn btn-icon btn-download">
                    <svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#icon-download"/>
                    </svg>
                    Folume.dmg <span>184MB</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/ferdikoomen/folume" target="_blank" rel="noopener noreferrer" class="btn btn-icon btn-github">
                    <svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#icon-github"/>
                    </svg>
                    GitHub
                </a>
            </li>
        </ul>
    </div>
    <button class="btn btn-close" aria-label="Close project" tabindex="-1">
        <svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#cross"/>
        </svg>
    </button>
</section>
