<section class="project" id="smartparks">
    {{> preview filename="preview-smartparks" alt="SmartParks web application" }}
    <div>
        <h2>SmartParks web application</h2>
        <p>
            Navigate the African wild parks with the SmartParks web application.
            <button class="btn btn-more" aria-expanded="false">Read more</button>
        </p>
    </div>
    <div aria-hidden="true">
        <p>
            The SmartParks web application (IOL) aids park managers in monitoring <span>real-time</span> locations of animals, people, and vehicles.
        </p>
        <p>
            Built using Angular, SmartParks leverages the power of OpenLayers for seamless visualization of geographical data. Custom map layers were developed to efficiently handle vast amounts of data points and produce dynamic <span>real-time</span> heatmaps.
        </p>
        <h3>Technical details</h3>
        <ul>
            <li>Developed using <a href="https://angular.io" target="_blank" rel="noopener noreferrer">Angular5</a></li>
            <li>Written in <a href="https://www.typescriptlang.org" target="_blank" rel="noopener noreferrer">TypeScript</a></li>
            <li>Maps powered by <a href="https://openlayers.org" target="_blank" rel="noopener noreferrer">OpenLayers</a></li>
            <li>Built using <a href="https://webpack.github.io" target="_blank" rel="noopener noreferrer">Webpack</a></li>
        </ul>
        <div class="gallery">
            <div>
                {{> image filename="smartparks-map-login" alt="Interface showing a login" }}
                {{> image filename="smartparks-map-dashboard" alt="Interface showing trackers on a map" }}
                {{> image filename="smartparks-map-details" alt="Interface showing details of a rhino tracker" }}
                {{> image filename="smartparks-map-path" alt="Interface showing path of a rhino tracker" }}
                {{> image filename="smartparks-map-heatmap" alt="Interface showing heatmap of historical data" }}
                {{> image filename="smartparks-map-connections" alt="Interface showing connection from antenna" }}
                {{> video filename="smartparks-desktop" type="video-large" }}
                {{> image filename="smartparks-admin-overview" alt="Admin interface" }}
                {{> image filename="smartparks-admin-edit" alt="Admin interface showing an edit modal" }}
                <figure class="video video-small" role="presentation" aria-hidden="true" tabindex="-1">
                    <video preload="none" playsinline controls controlsList="nodownload">
                        <source src="/static/videos/smartparks-mkomazi.mp4" type="video/mp4"/>
                    </video>
                </figure>
            </div>
            {{> image-buttons }}
        </div>
        <ul class="links">
            <li>
                <a href="https://iol.madebyferdi.com" target="_blank" rel="noopener noreferrer" class="btn btn-icon btn-link">
                    <svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#icon-link"/>
                    </svg>
                    Demo
                </a>
            </li>
        </ul>
    </div>
    <button class="btn btn-close" aria-label="Close project" tabindex="-1">
        <svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#cross"/>
        </svg>
    </button>
</section>
