@mixin font-face($font-family, $url, $font-weight: normal, $font-style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $font-weight;
        font-style: $font-style;
        font-display: fallback;
        src: url($url) format("woff2");
    }
}

@mixin font-fallback($font-family, $src, $font-weight) {
    @font-face {
        font-family: $font-family;
        font-weight: $font-weight;
        src: $src;
        ascent-override: 104.9445%;
        descent-override: 29.1157%;
        line-gap-override: 0%;
        size-adjust: 93.7639%;
    }
}
