@use "variables";

html,
body {
    font-family: variables.$font-family;
    font-size: variables.$font-size-base;
    font-weight: 400;
    font-style: normal;
    line-height: variables.$line-height;
    text-align: left;
    color: variables.$color-text;
    background: variables.$color-background;
    min-height: 3000px;
}
