.container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: white;

    @include from(tablet) {
        width: $breakpoint-tablet;
        margin: 0 auto;
    }

    @include from(desktop) {
        width: $breakpoint-desktop;
        margin: 0 auto;
    }

    @include from(wide) {
        width: $breakpoint-wide;
        margin: 0 auto;
    }

    @include from(superwide) {
        width: $breakpoint-superwide;
        margin: 0 auto;
    }

    @include from(ultrawide) {
        width: $breakpoint-ultrawide;
        margin: 0 auto;
    }
}
