@use "media";
@use "variables";

.container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: white;

    @include media.from(tablet) {
        width: variables.$breakpoint-tablet;
        margin: 0 auto;
    }

    @include media.from(desktop) {
        width: variables.$breakpoint-desktop;
        margin: 0 auto;
    }

    @include media.from(wide) {
        width: variables.$breakpoint-wide;
        margin: 0 auto;
    }

    @include media.from(superwide) {
        width: variables.$breakpoint-superwide;
        margin: 0 auto;
    }

    @include media.from(ultrawide) {
        width: variables.$breakpoint-ultrawide;
        margin: 0 auto;
    }
}
