@mixin font-import($font-family, $font-path, $font-weight: normal, $font-style: normal, $font-stretch: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
		src: url("#{$font-path}.eot") format("embedded-opentype"),
		url("#{$font-path}.woff2") format("woff2"),
		url("#{$font-path}.woff") format("woff"),
		url("#{$font-path}.otf") format("opentype"),
		url("#{$font-path}.ttf") format("truetype");
	}
}

@mixin font($font-family, $font-size-base: inherit, $font-weight: normal, $font-style: normal) {
	font-family: $font-family;
	font-weight: $font-weight;
	font-style: $font-style;
	font-size: $font-size-base;
}
