@mixin font-import($font-family, $font-path, $font-weight: normal, $font-style: normal, $font-stretch: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $font-weight;
        font-style: $font-style;
        font-stretch: $font-stretch;
        font-display: swap;
        src: url('#{$font-path}.woff2') format('woff2');
    }
}

@mixin font($font-family, $font-size-base: inherit, $font-weight: normal, $font-style: normal) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-size: $font-size-base;
}
