@use "sass:color";
@use "../core/media";
@use "../core/variables";

.intro {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    color: variables.$color-text;
    background: white;
    padding: 0 variables.$padding-side-mobile variables.$line-height * 3;
    box-sizing: border-box;
    transform: translate(0, 0);

    @include media.from(mobile) {
        padding: 0 variables.$padding-side-tablet variables.$line-height * 4;
    }

    @include media.from(desktop) {
        padding: 0 variables.$padding-side-desktop variables.$line-height * 4;
    }

    > h1 {
        display: block;
        font-size: 60px;
        font-weight: 200;
        line-height: 60px;
        padding: variables.$line-height * 5 0 variables.$line-height * 2;

        @include media.from(tablet) {
            padding: variables.$line-height * 8 0 variables.$line-height * 3;
        }
    }

    > p.lead {
        font-size: 18px;
        line-height: 24px;
    }

    > p {
        > span {
            color: variables.$color-highlight;
            margin-right: 4px;
        }
    }

    > ol {
        list-style: none;
        max-width: variables.$max-text-width;

        > li {
            display: block;
            position: relative;
            margin-left: 20px;

            &::before {
                content: "✓";
                display: inline-block;
                position: absolute;
                left: -20px;
                color: variables.$color-highlight;
                font-family: Arial, sans-serif;
                font-weight: bold;
                z-index: 1;
            }
        }
    }

    > ul {
        list-style: none;
        margin-top: variables.$line-height * 2;

        > li {
            display: block;
            margin-right: 0;
            margin-bottom: 12px;

            @include media.from(mobile) {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 12px;
                    margin-bottom: 12px;
                }
            }

            > .btn {
                &.btn-linkedin,
                &.btn-linkedin:hover {
                    background: variables.$color-button-linkedin;
                }

                &.btn-linkedin:focus {
                    box-shadow: 0 0 0 3px color.adjust(variables.$color-button-linkedin, $alpha: -0.5);
                }

                &.btn-twitter,
                &.btn-twitter:hover {
                    background: variables.$color-button-twitter;
                }

                &.btn-twitter:focus {
                    box-shadow: 0 0 0 3px color.adjust(variables.$color-button-twitter, $alpha: -0.5);
                }

                &.btn-github,
                &.btn-github:hover {
                    background: variables.$color-button-github;
                }

                &.btn-github:focus {
                    box-shadow: 0 0 0 3px color.adjust(variables.$color-button-github, $alpha: -0.5);
                }
            }
        }
    }
}

