@use "../core/media";
@use "../core/variables";

.project {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    color: variables.$color-text;
    background: white;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: variables.$preview-ratio;
    padding-bottom: variables.$line-height * 4;
    transform: translate(0, 0);
    transition: transform ease-in-out 400ms;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @include media.from(tablet) {
        height: 300px;
        min-height: 300px;
        padding-top: 0;
        color: white;
        border-bottom: none;
    }

    > picture {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        pointer-events: none;
        user-select: none;
        z-index: 1;

        @include media.from(tablet) {
            position: absolute;
            right: -270px;
            width: 630px;
            height: 100%;
            padding-top: 0;
            transition: transform ease-out 400ms;
        }

        @include media.from(desktop) {
            right: -120px;
        }

        @include media.from(wide) {
            right: 0;
        }

        > img {
            display: block;
            width: 100%;
            height: auto;
            border: none;
            user-select: none;
            pointer-events: none;
            -webkit-touch-callout: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
    }

    > div:nth-child(2) {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        z-index: 2;

        @include media.from(tablet) {
            width: 380px;
        }

        @include media.from(desktop) {
            width: 490px;
        }

        @include media.from(wide) {
            width: 590px;
        }

        > h2 {
            position: relative;
            font-size: 40px;
            font-weight: 300;
            line-height: 40px;
            margin: 0;
            padding: variables.$line-height 80px variables.$line-height variables.$padding-side-mobile;

            @include media.from(mobile) {
                padding: variables.$line-height 100px variables.$line-height variables.$padding-side-tablet;
            }

            @include media.from(tablet) {
                padding: variables.$line-height * 2 variables.$padding-side-tablet variables.$line-height;
            }

            @include media.from(desktop) {
                padding: variables.$line-height * 2 variables.$padding-side-desktop variables.$line-height;
            }
        }

        > p {
            position: relative;
            font-size: variables.$font-size-base;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0;
            line-height: variables.$line-height;
            margin: 0;
            padding: 0 variables.$padding-side-mobile;
            max-width: none;
            visibility: visible;
            transition: opacity ease-out 200ms 200ms, visibility linear 0ms;
            transform: translate(0, 0);
            z-index: 1;

            > span {
                white-space: nowrap;
            }

            @include media.from(mobile) {
                padding: 0 variables.$padding-side-tablet;
            }

            @include media.from(tablet) {
                position: absolute;
            }

            @include media.from(desktop) {
                padding: 0 variables.$padding-side-desktop;
                max-width: variables.$padding-side-desktop + variables.$padding-side-desktop + variables.$max-text-width;
                font-size: variables.$font-size-large;
                font-style: italic;
                letter-spacing: 0.2px;
                line-height: variables.$font-size-large + 6;
            }

            > .btn-more {
                display: block;
                margin-top: variables.$line-height;

                @include media.until(tablet) {
                    background: variables.$color-highlight;
                }
            }
        }
    }

    > div:nth-child(3) {
        position: relative;
        height: 0;
        box-sizing: border-box;
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 300px);
        transition: transform ease-in 400ms, opacity ease-in 400ms, visibility linear 0ms 400ms;
        z-index: 3;

        > p {
            > a {
                color: variables.$color-links;
            }

            > span {
                white-space: nowrap;
            }
        }

        > p,
        > h3,
        > ul,
        > ol {
            padding-left: variables.$padding-side-mobile;
            padding-right: variables.$padding-side-mobile;

            @include media.from(mobile) {
                padding-left: variables.$padding-side-tablet;
                padding-right: variables.$padding-side-tablet;
            }

            @include media.from(desktop) {
                padding-left: variables.$padding-side-desktop;
                padding-right: variables.$padding-side-desktop;
            }
        }

        > p:first-child {
            font-size: variables.$font-size-base;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0;
            line-height: variables.$line-height;
            margin-top: 0;
        }

        > h3 {
            font-size: variables.$font-size-base;
            font-weight: 700;
            line-height: variables.$line-height;
        }

        > ul,
        > ol {
            margin-left: 20px;

            a {
                color: variables.$color-links;
            }
        }

        > ul.links {
            margin-left: 0;
            list-style: none;

            > li {
                &:not(:last-child) {
                    margin-bottom: 12px;
                }

                @include media.until(tablet) {
                    > .btn,
                    > .btn:hover {
                        background: variables.$color-links;
                    }
                }
            }
        }
    }

    > .btn-close {
        position: absolute;
        top: 24px;
        right: 20px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        padding: 0;
        z-index: 4;
        transform: translate(100px, 0);
        transition: fill ease 200ms, transform ease-in 200ms, opacity ease-in 200ms;
        margin-top: variables.$preview-ratio;
        fill: #111;
        opacity: 0;

        > svg {
            margin: 5px;
            width: 30px;
            height: 30px;
        }

        @include media.from(mobile) {
            right: 30px;
        }

        @include media.from(tablet) {
            top: 46px;
            right: 40px;
            fill: white;
            margin-top: 0;
        }

        @include media.until(tablet) {
            background-color: transparent !important;
        }
    }

    &.open {

        @include media.from(tablet) {
            > picture {
                transform: translate(100%, 0);
                transition: transform ease-in 400ms;
            }
        }

        > .btn-close {
            opacity: 1;
            transform: translate(0, 0);
            transition: background-color ease 200ms, transform ease-out 200ms 200ms, opacity ease-out 200ms 200ms;
        }

        > div:nth-child(2) > p {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: opacity ease-in 200ms, visibility linear 0ms 200ms;
        }

        > div:nth-child(3) {
            opacity: 1;
            visibility: visible;
            height: auto;
            transform: translate(0, 0);
            transition: transform ease-out 400ms, opacity ease-out 400ms, visibility linear 0ms;
        }
    }
}

#mini {
    @include media.from(tablet) {
        background: variables.$color-project-mini;
    }

    .gallery,
    .gallery > div > figure {
        background: variables.$color-project-mini;
        border-color: variables.$color-project-mini;
    }
}

#capture3 {
    @include media.from(tablet) {
        background: variables.$color-project-capture3;
    }

    .gallery,
    .gallery > div > figure {
        background: variables.$color-project-capture3;
        border-color: variables.$color-project-capture3;
    }
}

#folume {
    @include media.from(tablet) {
        background: variables.$color-project-folume;
    }

    .gallery,
    .gallery > div > figure {
        background: variables.$color-project-folume;
        border-color: variables.$color-project-folume;
    }
}

#smartparks {
    @include media.from(tablet) {
        background: variables.$color-project-smartparks;
    }

    .gallery,
    .gallery > div > figure {
        background: variables.$color-project-smartparks;
        border-color: variables.$color-project-smartparks;
    }
}

