<!doctype html>
<html lang="en">
    <head>

        {{> templates/head }}

    </head>
    <body>

        {{> templates/icons }}

        <div class="container">
            {{> templates/intro }}
            {{> templates/project-mini }}
            {{> templates/project-capture3 }}
            {{> templates/project-folume }}
            {{> templates/project-smartparks }}
            {{> templates/clients }}
            {{> templates/footer }}
        </div>

    </body>
</html>
