<!doctype html>
<html lang="en">
    <head>

        {{> templates/head }}

    </head>
    <body>

        {{> templates/icons }}

        <div class="container">
            {{> templates/intro }}
            {{> templates/project-mini }}
            {{> templates/project-capture3 }}
            {{> templates/project-folume }}
            {{> templates/project-iol }}
            {{> templates/experience-languages }}
            {{> templates/experience-frameworks }}
            {{> templates/experience-software-services }}
            {{> templates/experience-clients }}
            {{> templates/footer }}
        </div>

        {{> templates/google }}

        <script type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=UA-91061714-1" async></script>

    </body>
</html>
